In [1]:
# -------------------------------------------------------------------------
# File: Ex_1_4_RBiswas.ipynb
# Name: Rajdeep Biswas
# Date: 05/31/2020
# Desc: EDA Exercise 1.4
# -------------------------------------------------------------------------

In [3]:
#Display the text “Hello World! I wonder why that is always the default coding text to start with”
print('“Hello World! I wonder why that is always the default coding text to start with”')

“Hello World! I wonder why that is always the default coding text to start with”

In [4]:
#Add two numbers together
print ('1+2=',1+2)

1+2= 3

In [5]:
#Subtract a number from another number
print ('2-1=',2-1)

2-1= 1

In [6]:
#Multiply two numbers
print ('2*1.6=',2*1.6)

2*1.6= 3.2

In [8]:
#Divide between two numbers
print ('2.5/2=',2.5/2)

2.5/2= 1.25

In [9]:
#Concatenate two strings together (any words)
print('two','strings', sep=' ')

two strings

In [10]:
#Create a list of 4 items (can be strings, numbers, both)
my_list = [1,2.5,'a','xyz']
print ('my_list: ',my_list)

my_list:  [1, 2.5, 'a', 'xyz']

In [11]:
#Append an item to your list (again, can be a string, number)
my_list.append('new')
print ('my_list: ',my_list)

my_list:  [1, 2.5, 'a', 'xyz', 'new']

In [12]:
#Create a tuple with 4 items (can be strings, numbers, both)
my_tupple = (1,2.5,'a','xyz')
print('my_tupple: ',my_tupple)

my_tupple:  (1, 2.5, 'a', 'xyz')